{{ define "course-hero" }}
<!-- hero -->

  <div class="container-fluid mx-4 py-4">
    <div class="row align-items-center">
      <div class="col-8 shadow p-0">
        <img src="{{ .Config.ApiHostname }}{{ .Cover.Url}}" class="rounded img-fluid" alt="">
      </div>
      <div class="col-4">
        <div class="row">
            <div class="col">
                <div class="col d-flex align-items-start">
                  <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#camera-video"/></svg>
                  <div><h4 class="fs-6">{{ .DurationOrModules }}</h4></div>
                </div>
                <div class="col d-flex align-items-start">
                  <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#chat-text"/></svg>
                  <div><h4 class="fs-6">Groupe de discussion privé</h4></div>
                </div>
                <div class="col d-flex align-items-start">
                  <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#people-fill"/></svg>
                  <div><h4 class="fs-6">Coaching</h4></div>
                </div>
            </div>
            <div class="col">

                {{ if .HasPaymentInstalments }}
                <div class="col d-flex align-items-start">
                  <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#credit-card"/></svg>
                  <div><h4 class="fs-6">Règlement possible en plusieurs fois</h4></div>
                </div>
                {{ end }}

                {{ if .HasCpf }}
                <div class="col d-flex align-items-start">
                  <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#award"/></svg>
                  <div><h4 class="fs-6">Eligible CPF</h4></div>
                </div>
                {{ end }}

                {{ if eq .GuaranteeDetails "" }}
                <div class="col d-flex align-items-start">
                  <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#calendar2-check"/></svg>
                  <div><h4 class="fs-6">Garanties</h4></div>
                </div>
                {{ end }}

                {{ if .HasUpdates }}
                <div class="col d-flex align-items-start">
                  <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#cloud-upload"/></svg>
                  <div><h4 class="fs-6">Mises à jour</h4></div>
                </div>
                {{ end }}

            </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-start my-4">
            <div><h4 class="fs-3 fw-bold">{{ .Pricing }}€</h4></div>
            <a href="{{ .PurchaseUrl }}" target="_blank"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Acheter</button></a>
        </div>
      </div>
    </div>
  </div>

<!-- end hero -->
{{ end }}
