  {{ define "content" }}
  <!-- content -->
  <div class="container-fluid my-5">
    <h1 class="display-4 lh-1">{{ .Title }}</h1>
    <h2 class="text-muted">par {{ .Author }}</h2>
  </div>

  {{ template "course-hero" . }}

  <ul class="nav nav-pills border-bottom py-2" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link fw-bold active" id="characteristics-tab" data-bs-toggle="tab" data-bs-target="#characteristics" type="button" role="tab" aria-controls="characteristics" aria-selected="true">En bref</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link fw-bold" id="profile-tab" data-bs-toggle="tab" data-bs-target="#contents" type="button" role="tab" aria-controls="contents" aria-selected="false">Programme</button>
    </li>
    {{ if .InvestingSteps }}
    <li class="nav-item" role="presentation">
      <button class="nav-link fw-bold" id="steps-tab" data-bs-toggle="tab" data-bs-target="#steps" type="button" role="tab" aria-controls="steps" aria-selected="false">Étapes</button>
    </li>
    {{ end }}
    {{ if .InvestingStrategies }}
    <li class="nav-item" role="presentation">
      <button class="nav-link fw-bold" id="strategies-tab" data-bs-toggle="tab" data-bs-target="#strategies" type="button" role="tab" aria-controls="strategies" aria-selected="false">Stratégies</button>
    </li>
    {{ end }}
    {{ if .PropertyTypes }}
    <li class="nav-item" role="presentation">
      <button class="nav-link fw-bold" id="properties-tab" data-bs-toggle="tab" data-bs-target="#properties" type="button" role="tab" aria-controls="properties" aria-selected="false">Types de bien</button>
    </li>
    {{ end }}
    {{ if .OtherStrategies }}
    <li class="nav-item" role="presentation">
      <button class="nav-link fw-bold" id="advanced-tab" data-bs-toggle="tab" data-bs-target="#advanced" type="button" role="tab" aria-controls="advanced" aria-selected="false">Stratégies avancées</button>
    </li>
    {{ end }}
    {{ if .CourseMaterials }}
    <li class="nav-item" role="presentation">
      <button class="nav-link fw-bold" id="materials-tab" data-bs-toggle="tab" data-bs-target="#materials" type="button" role="tab" aria-controls="materials" aria-selected="false">Supports</button>
    </li>
    {{ end }}
    {{ if .Communities }}
    <li class="nav-item" role="presentation">
      <button class="nav-link fw-bold" id="community-tab" data-bs-toggle="tab" data-bs-target="#community" type="button" role="tab" aria-controls="community" aria-selected="false">Communauté</button>
    </li>
    {{ end }}
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="characteristics" role="tabpanel" aria-labelledby="characteristics-tab">
        {{ template "course-characteristics" . }}
    </div>
    <div class="tab-pane fade" id="contents" role="tabpanel" aria-labelledby="contents-tab">
        {{ template "course-contents" . }}
    </div>
    {{ if .InvestingSteps }}
    <div class="tab-pane fade" id="steps" role="tabpanel" aria-labelledby="steps-tab">
        {{ template "table-checkbox" .InvestingSteps }}
    </div>
    {{ end }}
    {{ if .InvestingStrategies }}
    <div class="tab-pane fade" id="strategies" role="tabpanel" aria-labelledby="strategies-tab">
        {{ template "table-checkbox" .InvestingStrategies }}
    </div>
    {{ end }}
    {{ if .PropertyTypes }}
    <div class="tab-pane fade" id="properties" role="tabpanel" aria-labelledby="properties-tab">
        {{ template "table-checkbox" .PropertyTypes }}
    </div>
    {{ end }}
    {{ if .OtherStrategies }}
    <div class="tab-pane fade" id="advanced" role="tabpanel" aria-labelledby="advanced-tab">
        {{ template "table-checkbox" .OtherStrategies }}
    </div>
    {{ end }}
    {{ if .CourseMaterials }}
    <div class="tab-pane fade" id="materials" role="tabpanel" aria-labelledby="materials-tab">
        {{ template "table-checkbox" .CourseMaterials }}
    </div>
    {{ end }}
    {{ if .Communities }}
    <div class="tab-pane fade" id="community" role="tabpanel" aria-labelledby="community-tab">
        {{ template "table-checkbox" .Communities }}
    </div>
    {{ end }}
  </div>

  <p class="card-text"><small class="text-muted">Dernière mise à jour: {{ .UpdatedAt }}</small></p>


   <!-- end content -->

  {{ end }}
