{{ define "course-characteristics" }}
<div class="container px-4 py-4" id="icon-grid">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
    <div class="col d-flex align-items-start">
      <svg class="bi flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#piggy-bank"/></svg>
      <div>
        <h4 class="fw-bold mb-0">Prix</h4>
        <p>{{ .Pricing }}€</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#clock"/></svg>
      <div>
        <h4 class="fw-bold mb-0">Volume</h4>
        <p>{{ .DurationOrModules }}</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      {{ if .HasCpf }}
      <svg class="bi flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#award"/></svg>
      <div>
        <h4 class="fw-bold mb-0">Eligible CPF</h4>
      {{ else }}
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#award"/></svg>
      <div>
        <h4 class="fw-bold mb-0 text-muted">Non éligible CPF</h4>
      {{ end }}
      </div>
    </div>
    <div class="col d-flex align-items-start">
      {{ if .HasQualiopi }}
      <svg class="bi flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#award"/></svg>
      <div>
        <h4 class="fw-bold mb-0">Certification Qualiopi</h4>
      {{ else }}
      <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#award"/></svg>
      <div>
        <h4 class="fw-bold mb-0 text-muted">Pas de certification Qualiopi</h4>
      {{ end }}
      </div>
    </div>
    <div class="col d-flex align-items-start">
      {{ if .HasPaymentInstalments }}
      <svg class="bi flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#piggy-bank-fill"/></svg>
      <div>
        <h4 class="fw-bold mb-0">Paiement en plusieurs fois</h4>
      {{ else }}
      <svg class="bi flex-shrink-0 me-3 text-muted" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#piggy-bank-fill"/></svg>
      <div>
        <h4 class="fw-bold mb-0 text-muted">Paiement en une fois</h4>
      {{ end }}
      </div>
    </div>
    <div class="col d-flex align-items-start">
      {{ if .HasUpdates }}
      <svg class="bi flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#cloud-upload"/></svg>
      <div>
        <h4 class="fw-bold mb-0">Mises à jour</h4>
      {{ else }}
      <svg class="bi flex-shrink-0 me-3 text-muted" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#cloud-upload-fill"/></svg>
      <div>
        <h4 class="fw-bold mb-0 text-muted">Pas de mises à jour</h4>
      {{ end }}
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#briefcase-fill"/></svg>
      <div>
        {{ if .IsSpecialized }}
        <h4 class="fw-bold mb-0">Formation spécialisée</h4>
        {{ else }}
        <h4 class="fw-bold mb-0">Formation généraliste</h4>
        {{ end }}
      </div>
    </div>
    <div class="col d-flex align-items-start">
      {{ if .IsUnlocked }}
      <svg class="bi flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#unlock-fill"/></svg>
      <div>
        <h4 class="fw-bold mb-0">Formation débloquée</h4>
      {{ else }}
      <svg class="bi flex-shrink-0 me-3 text-muted" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#lock-fill"/></svg>
      <div>
        <h4 class="fw-bold mb-0 text-muted">Formation progressive</h4>
      {{ end }}
      </div>
    </div>
  </div>

  <p>La formation "{{ .Title }}" est une formation créée par {{ .Author }}.</p>
  <p>Le prix de la formation est de {{ .Pricing }}€.</p>
  <p>{{ if .IsUnlocked }}L'intégralité de la formation est disponible immédiatement. {{ .UnlockingDetails }}</p>
  {{ else }}
  <p>La formation se débloque progressivement. {{ .UnlockingDetails }}</p>
  {{ end }}
  <p>{{ if .PaymentDetails }}{{ .PaymentDetails }}{{ end }}</p>
  <p>La formation comprend {{ .DurationOrModules }}.</p>
  <p>{{ if .GuaranteeDetails }}La garantie "satisfait ou remboursé" est de {{ .GuaranteeDetails }}{{ end }}</p>
  {{ if .HasCpf }}
  <p>La formation est éligible au CPF.</p>
  {{ end }}
  {{ if .HasQualiopi }}
  <p>La formation est certifiée Qualiopi.</p>
  {{ end }}
  {{ if .IsSpecialized }}
  <p>"{{ .Title }}" est une formation spécialisée.</p>
  <p>Le contenu est détaillé dans l'onglet Programme.</p>
  {{ else }}
  <p>"{{ .Title }}" est une formation généraliste qui va de traiter de l’investissement immobilier dans la globalité.</p>
  <p>Le contenu est détaillé dans l'onglet Programme.</p>
  {{ end }}
</div>
{{ end }}
