<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ .PageTitle }} | Liebfine</title>
  <meta name="description" content="Comparateur de formations pour investir dans l'immobilier">
  <meta name="author" content="Liebfine">

  <meta property="og:site_name" content="Liebfine"/>
  <meta property="og:title" content="{{ .PageTitle }} | Liebfine"/>
  <meta property="og:type" content="website"/>
  <meta property="og:locale" content="fr_FR"/>
  <meta property="og:url" content="{{ .Config.WwwHostname }}"/>
  <meta property="og:description" content="Comparateur de formations pour investir dans l'immobilier"/>
  {{ if .IsCourse }}
  <meta property="og:image" content="{{ .Config.ApiHostname }}{{ .Cover.CoverFormats.medium.Url}}"/>
  {{ end }}

  <meta property="twitter:title" content="{{ .PageTitle }} | Liebfine"/>
  <meta property="twitter:description" content="Comparateur de formations pour investir dans l'immobilier"/>
  {{ if .IsCourse }}
  <meta property="twitter:card" content="summary_large_image"/>
  <meta property="twitter:image" content="{{ .Config.ApiHostname }}{{ .Cover.CoverFormats.medium.Url}}"/>
  {{ else }}
  <meta property="twitter:card" content="summary"/>
  {{ end }}


  <link rel="icon" href="/static/svg/favicon.svg">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/override.css">

</head>

<body>
  <div class="container">

    <!-- menu -->
    <header class="d-flex flex-wrap justify-content-center py-2 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-3">Lieb<span class="color-fine">fine</span></span>
      </a>
      <nav class="navbar">
      <ul class="nav">
        <li class="nav-item">
            <a href="a-propos.html" class="nav-link link-dark" aria-current="page">
                <span class="">À propos</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="pourquoi-investir.html" class="nav-link link-dark" aria-current="page">
                <span class="">Pourquoi investir?</span>
            </a>
        </li>
          <li class="ms-3"><a class="link-dark" href="https://www.facebook.com/Liebfine" target="_blank"><svg class="bi flex-shrink-0 me-3" width="32" height="32"><use xlink:href="static/svg/bootstrap-icons.svg#facebook"/></svg></a></li>
          <li><a class="link-dark" href="https://www.instagram.com/liebfine.fr/" target="_blank"><svg class="bi flex-shrink-0 me-3" width="32" height="32"><use xlink:href="static/svg/bootstrap-icons.svg#instagram"/></svg></a></li>
          <li><a class="link-dark" href="https://www.linkedin.com/company/liebfine" target="_blank"><svg class="bi flex-shrink-0 me-3" width="32" height="32"><use xlink:href="static/svg/bootstrap-icons.svg#linkedin"/></svg></a></li>
          <li><a class="link-dark" href="https://www.youtube.com/channel/UC3RtVvpbOpXdao6FAGOXNOw" target="_blank"><svg class="bi flex-shrink-0 me-3" width="32" height="32"><use xlink:href="static/svg/bootstrap-icons.svg#youtube"/></svg></a></li>
      </ul>
      </nav>
    </header>
    <!-- end menu -->

    {{ template "content" . }}

    <!-- footer -->

  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="link-dark" href="https://www.facebook.com/Liebfine" target="_blank"><svg class="bi flex-shrink-0 me-3" width="32" height="32"><use xlink:href="static/svg/bootstrap-icons.svg#facebook"/></svg></a></li>
          <li><a class="link-dark" href="https://www.instagram.com/liebfine.fr/" target="_blank"><svg class="bi flex-shrink-0 me-3" width="32" height="32"><use xlink:href="static/svg/bootstrap-icons.svg#instagram"/></svg></a></li>
          <li><a class="link-dark" href="https://www.linkedin.com/company/liebfine" target="_blank"><svg class="bi flex-shrink-0 me-3" width="32" height="32"><use xlink:href="static/svg/bootstrap-icons.svg#linkedin"/></svg></a></li>
          <li><a class="link-dark" href="https://www.youtube.com/channel/UC3RtVvpbOpXdao6FAGOXNOw" target="_blank"><svg class="bi flex-shrink-0 me-3" width="32" height="32"><use xlink:href="static/svg/bootstrap-icons.svg#youtube"/></svg></a></li>
    </ul>
  </footer>
    <!-- end footer -->

    <p class="text-center text-muted">&copy; 2021 Liebfine. Tous droits réservés. <a href="mentions-legales.html" class="text-muted nav-link p-0">Mentions légales</a></p>
  </div>
  <script src="static/js/bootstrap.bundle.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
</body>
</html>
