{{ define "list-tab"}}

      {{ range . }}
      <div class="card mb-3 shadow">
        <div class="row g-0">
          <div class="col-md-4">
              <img src="{{ .Config.ApiHostname }}{{ .Cover.CoverFormats.medium.Url }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
             <h5 class="card-title"><a href="{{ .Slug }}.html">{{ .Author }} - {{ .Title }}</a></h5>
              <div clas="container">
                <div class="row">
                    <div class="col">
                        <div class="col d-flex align-items-start">
                          <svg class="bi flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#camera-video"/></svg>
                          <div><h4 class="fs-6">{{ .DurationOrModules }}</h4></div>
                        </div>
                        <div class="col d-flex align-items-start">
                          {{ if .HasDiscussionGroup }}
                          <svg class="bi flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#chat-text"/></svg>
                          <div><h4 class="fs-6">Groupe de discussion privé</h4></div>
                          {{ else }}
                          <svg class="bi flex-shrink-0 me-3 text-muted" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#chat-text"/></svg>
                          <div><h4 class="fs-6 text-muted">Groupe de discussion privé</h4></div>
                          {{ end }}
                        </div>
                        <div class="col d-flex align-items-start">
                          {{ if .HasCoaching }}
                          <svg class="bi flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#people-fill"/></svg>
                          <div><h4 class="fs-6">Coaching</h4></div>
                          {{ else }}
                          <svg class="bi flex-shrink-0 me-3 text-muted" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#people-fill"/></svg>
                          <div><h4 class="fs-6 text-muted">Coaching</h4></div>
                          {{ end }}
                        </div>
                    </div>
                    <div class="col">
                      <div class="col d-flex align-items-start">
                        {{ if .HasPaymentInstalments }}
                        <svg class="bi flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#credit-card"/></svg>
                        <div><h4 class="fs-6">Règlement possible en plusieurs fois</h4></div>
                        {{ else }}
                        <svg class="bi flex-shrink-0 me-3 text-muted" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#credit-card"/></svg>
                        <div><h4 class="fs-6 text-muted">Règlement possible en plusieurs fois</h4></div>
                        {{ end }}
                      </div>

                      <div class="col d-flex align-items-start">
                        {{ if .HasCpf }}
                        <svg class="bi flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#award"/></svg>
                        <div><h4 class="fs-6">Eligible CPF</h4></div>
                        {{ else }}
                        <svg class="bi flex-shrink-0 me-3 text-muted" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#award"/></svg>
                        <div><h4 class="fs-6 text-muted">Eligible CPF</h4></div>
                        {{ end }}
                      </div>

                      <div class="col d-flex align-items-start">
                        {{ if eq .GuaranteeDetails "" }}
                        <svg class="bi flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#calendar2-check"/></svg>
                        <div><h4 class="fs-6">Garantie satisfait ou remboursé</h4></div>
                        {{ else }}
                        <svg class="bi flex-shrink-0 me-3 text-muted" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#calendar2-check"/></svg>
                        <div><h4 class="fs-6 text-muted">Garantie satisfait ou remboursé</h4></div>
                        {{ end }}
                      </div>

                      <div class="col d-flex align-items-start">
                        {{ if .HasUpdates }}
                        <svg class="bi flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#cloud-upload"/></svg>
                        <div><h4 class="fs-6">Mises à jour</h4></div>
                        {{ else }}
                        <svg class="bi flex-shrink-0 me-3 text-muted" width="1.75em" height="1.75em"><use xlink:href="static/svg/bootstrap-icons.svg#cloud-upload"/></svg>
                        <div><h4 class="fs-6 text-muted">Mises à jour</h4></div>
                        {{ end }}
                      </div>
                    </div>
                    <div class="col">
                        <div class="col d-flex justify-content-center">
                            <div><h4 class="fs-3 fw-bold">{{ .Pricing }}€</h4></div>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <a href="{{ .Slug }}.html" target="_blank"><button type="button" class="btn btn-lg btn-block btn-primary">Découvrir</button></a>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
{{ end }}
