  {{ define "content" }}
  <!-- content -->
  <h1 class="display-6">Trouvez la meilleure formation pour investir</h1>

  <ul class="nav nav-tabs nav-pills border-bottom" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link fs-6 active" id="tab1-label" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true">Formations généralistes</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link fs-6" id="tab2-label" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false">Formations spécialisées</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link fs-6" id="tab3-label" data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab" aria-controls="tab3" aria-selected="false">Formations CPF</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link fs-6" id="tab4-label" data-bs-toggle="tab" data-bs-target="#tab4" type="button" role="tab" aria-controls="tab4" aria-selected="false">Formations certifiées Qualiopi</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link fs-6" id="tab5-label" data-bs-toggle="tab" data-bs-target="#tab5" type="button" role="tab" aria-controls="tab5" aria-selected="false">Formations Colocation</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link fs-6" id="tab6-label" data-bs-toggle="tab" data-bs-target="#tab6" type="button" role="tab" aria-controls="tab6" aria-selected="false">Formations Immeubles de rapport</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-label">
        {{ template "list-tab" .UnspecializedCourses }}
    </div>

    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-label">
        {{ template "list-tab" .SpecializedCourses }}
    </div>

    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-label">
        {{ template "list-tab" .CPFCourses }}
    </div>

    <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-label">
        {{ template "list-tab" .CertifiedCourses }}
    </div>

    <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="tab5-label">
        {{ template "list-tab" .ColocationCourses }}
    </div>

    <div class="tab-pane fade" id="tab6" role="tabpanel" aria-labelledby="tab6-label">
        {{ template "list-tab" .InvestmentPropertyCourses }}
    </div>
  </div>


  <!-- end content -->
  {{ end }}
