{{ define "table-checkbox" }}
<div class="table-responsive px-4 py-4">
  <table class="table text-center">
    <thead>
      <tr>
        <th style="width: 34%;"></th>
        <th style="width: 22%;">Cette formation</th>
      </tr>
    </thead>
    <tbody>
    {{ range . }}
      <tr>
        <th scope="row" class="text-start">{{ .FullName }}</th>
          <td><svg class="bi text-success" width="32" height="32"><use xlink:href="static/svg/bootstrap-icons.svg#check-circle"/></svg></td>
      </tr>
    {{ end }}
    </tbody>
  </table>
</div>
{{ end }}

